:root {

    /* Color styles */
    --noir_blanc_gris---black_text: rgba(18, 18, 18, 1);
    --noir_blanc_gris---gris_base: rgba(217, 217, 217, 1);
    --noir_blanc_gris---blanc: rgba(255, 255, 255, 1);
    --noir_blanc_gris---white: rgba(248, 248, 248, 1);
    --noir_blanc_gris---gris: rgba(229, 229, 229, 1);
    --noir_blanc_gris---noir: rgba(0, 0, 0, 1);
    --bleu---bleu_principal: rgba(37, 134, 204, 1);
    --bleu---bleu_header: rgba(53, 138, 200, 1);
    --bleu---bleu_fonce: rgba(9, 117, 195, 1);
    --bleu---blue_clair: rgba(185, 221, 255, 1);
    --r-g-b---rouge: rgba(255, 0, 0, 1);
    --r-g-b---vert: rgba(0, 255, 0, 1);
    --r-g-b---bleu: rgba(0, 0, 255, 1);
    --default--grey--325: rgba(174, 174, 174, 1);

    /* Polices de caractère */
    --font-website: 'Righteous', sans-serif;
    --font-website-2: 'Poppins', sans-serif;

    /* Text-size styles */
    --mobile_footer_categorie: 11px;
    --footer_menu: 11px;
    --footer_contact: 13px;
    --btn_connexion_google: 16px;
    --titre-1: 48px;
    --titre-2: 30px;
    --item-menu: 24px;
    --item-footer: 18px;
    --gros-texte: 36px;
    --light-text: 18px;
    --texte: 24px;
    --bouton: 32px;
    --titre-1-mobile: 20px;
    --titre-2-mobile: 18px;
    --item-footer-mobile-1: 12px;
    --item-footer-mobile-2: 10px;
    --light-texte-mobile: 14px;
    --text-mobile: 14px;
    --bouton-mobile: 16px;
    --gros-texte-mobile: 18px;
    --gros-titre-2: 120px;
    --gros-titre-1: 72px;
    --gros-texte: 36px;

}